/*
Main CSS File for blog.
Format for all css entries:

item {
    layout

    size/padding/margin

    color/decorations/fonts/etc
}

Device selectors via media queries should only show up once,
changing/adding as few styles to the default as possible,
with comprehensive comments describing why that change
is necessary
*/

/* Colors Used in this document
Main Dark:  #1a1a1a
Alt Dark:   #242424
Main Light: #d8d8d8
Alt Light:   #f2f2f2
Purple:      #a56cc4
Dark Purple: #805499

Special thanks to Melanie for approving this purple.
*/

/* Fonts */
@font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/SourceCodePro-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf');
}

/* Styles for all devices */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    overflow-x: hidden;

    background-color: #f2f2f2;
}

/* Top Navigation, distribute links horizontally */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 32px 8px 16px;
}
/* Nav Title */
nav div#title a {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2em;
}

/* Individual Links in the nav */
nav div#links a {
    margin: 0 16px;

    color: #1a1a1a;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2em;
    text-decoration: underline;
}

/* Make purple to show interactability */
nav div#links a:hover {
    color: #a56cc4;
}

/* The current item in the nav (if any) */
nav div#links a#selected {
    color: #a56cc4;
}

/* Copyright */
p#copyright {
    font-size: 0.8em;
    color: #666;
    width: 100%;
    text-align: center;
}

/* Main article content */
article {
    width: 100%;
    padding: 16px;
}

/* All header items */
h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a;
    font-family: 'Open Sans', sans-serif;
}

/* All Possible Text items */
h1, h2, h3, h4, h5, h6, p, date, blockquote, cite, li {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}

/* Size for regular text items */
p, a, li {
    font-size: 1.1rem;
}

/* Header Sizing */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

/* Headers reserve too much margin below them */
h1 {
    margin: 0;
}

h2, h3, h4, h5, h6 {
    margin: 8px 0px;
}


/* Date field should be as close to h1 as possible */
date {
    margin: 0;
}

/* Fancy separator color */
hr {
    margin-bottom: 32px;

    color: #a56cc4;
}

/* paragraphs should be slightly indented */
p {
    width: 97%;
    margin: 24px auto;
}

/* Links in the text */
a {
    color: #a56cc4;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    text-decoration: none;
}

/* Darken on hover to show interactability */
a:hover {
    color: #805499;
}

/* Code styles, block */
article code {
    display: block;
    overflow-x: scroll;

    width: 95%;
    margin: auto;
}

/* Code syltes, inline */
article p code, article li code {
    display: inline;
    overflow-x: hidden;
}

/* Code Styles, inline or otherwise*/
article code, article p code {
    padding: 1px 8px;

    background-color: #1a1a1a;
    color: #dfdfdf;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
    white-space: pre;
}

/* Blockquote and citation styles */
article blockquote {
    margin-bottom: 0;
    padding: 4px 8px;

    font-size: 1em;
}

article cite {
    padding: 4px 24px;

    font-size: 0.8em;
}

article blockquote, article cite {
    display: block;

    width: 95%;
    margin-left: auto;
    margin-right: auto;

    background-color: #c4c4c4;
    border-left: #a56cc4 4px solid;
}

/* Image styles */
article img {
    display: block;

    width: 90%;
    margin: 16px auto;

    border: #a56cc4 8px solid;
}

/* Checkbox Styles */
input[type=checkbox] {
    color: #ffffff;
}

/* Narrow screens where Nav overlaps */
@media (max-width: 640px) {
    /* Organize nav vertically instead of horizontally */
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Indent links a little bit to distinguish from the title */
    nav div#links {
        margin-top: 8px;
        margin-left: 16px;
    }
}

/*
Screens that are wide enough to need margins to make content
more readable
*/
@media (min-width: 800px) {
    /* Center content and set size to 700px*/
    body {
        width: 800px;
        margin: auto;
    }
}
