<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
	<nav>
        <div id="title">
            <a href="/">Devin Vander Stelt's Blog</a>
        </div>
        <div id="links">
            <a href="/latest">Latest</a>
            <a id="selected" href="/archive">Archive</a>
            <a href="/about">About</a>
        </div>
    </nav>
    <article>
        <h1>Archive</h1>
        <ul>
            {% for (title, slug, date) in entries %}
                <li><a href="/articles/{{slug}}">{{title}} - Published {{date}}</a></li>
            {% endfor %}
        </ul>
    </article>
</body>
</html>
