<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="../../css/index.css" />
</head>
<body>
	<nav>
        <div id="title">
            <a href="/">Devin Vander Stelt's Blog</a>
        </div>
        <div id="links">
            <a id={% if latest %}"selected"{% else %}""{% endif %} href="/latest">Latest</a>
            <a href="/archive">Archive</a>
            <a href="/about">About</a>
        </div>
    </nav>
    <article>
        {{content|safe}}
    </article>
    <p id="copyright">© 2001 Devin Vander Stelt</p>
</body>
<script src="../assets/index.js"></script>
</html>
