<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Into the Void</title>

    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
    <nav>
        <a href="/" id="selected">Home</a>
        <a href="/latest">Latest</a>
        <a href="/archive">Archive</a>
        <a href="/about">About</a>
    </nav>
    <article>
        <h1>Into the Void</h1>
        <p>A Blog With No Audience</p>
        <ul>
            {% for (title, slug, date) in entries %}
                <li><a href="/articles/{{slug}}">{{title}} - Published {{date}}</a></li>
            {% endfor %}
        </ul>
    </article>
</body>
</html>
